@charset "utf-8";
/* CSS Document */

body
	{
		background-color:#000;
		color:#FFF;
		font-size:24px;
		height:1080px;
		width:1920px;
	}
	h1
	{
	font-size:25px;	
	}
	
	/* html table */
table
{
height:100px;
width:1000px;
border:#FFF solid 4px; 	
}

th
{
	border:#FFF solid 4px;
}


tr
{
	border:#FFF solid 4px;
}

td
{
	border:#FFF solid 4px;
}


/* Menu */

#Menu
{
margin-top:100px;
border:#00C solid 2px;
height:500px;
width:600px;	
}

button
{
margin:10px;	
}